body {
    font-family: 'Roboto';
    max-width: 100vw; 
    overflow-x: hidden;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

/* Header */
#main-nav {
    background-color: #202020;
}

#logo {
    background: url(../images/arjoshtech-logo.png) no-repeat center center / cover;
    height: 70px;
    width: 70px;
}

#arjoshtech {
    font-family: "Black Han Sans", sans-serif;
    color: #FFFFFF;
    font-size: 28px;
    text-decoration: none !important; /* Explicitly remove underline */
    border: none !important; /* Ensure no borders are applied */
}

#arjoshtech span {
    color: #ffbd59;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link {
    text-align: center;
    color: white;
    text-decoration: none;
}

.nav-link.active {
    color: #ffffff;
    font-weight: bold;
    position: relative;
}

.nav-link.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ffbd59;
    position: absolute;
    left: 0;
    bottom: -1px; /* Adjust to fit within the element */
}

/* End of Header */

/* Start of Home */
#home {
    background: url(../images/home-bg.png) no-repeat center center/cover;
    height: 100vh; /* Full viewport height */
    width: 100vw;  /* Full viewport width */
}

#intro {
    color: white;
    letter-spacing: 2px;
}
#intro h2 {
    font-size: 50px;
}
#intro h2 span {
    color: #ffbd59;
}
#intro p {
    font-size: 20px;
}
#row {
    height: 700px;
}
.btn-warning {
    background-color: #ffbd59;
    border: #ffbd59;
}
.btn-danger {
    background-color: #ff6f61;
    border: #ff6f61;
    color: #000;
}
#home-photo {
    background: url(../images/home-photo.png) no-repeat center center / cover;
    height: 480px;
    width: 480px;

}
/* End of Home */

/* Start of About */
#about {
    background-color: #202020;
}
#about-photo {
    background: url(../images/about-imgs/about-photo.png) no-repeat center center / cover;
    height: 811px;
    width: 300px;
}
.h2-title span {
    color: #ffbd59;
}
.h2-title {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 16px;
}
  
.h2-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 800px;
    height: 3px;
    background-color: #fff;
}
#info p {
    font-size: 18px;
}
.h2-title {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 16px;
}
.h2-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 800px;
    height: 3px;
    background-color: #fff;
}
#eac-logo {
    background: url(../images/about-imgs/eac-college-logo.png) no-repeat center center / cover;
    height: 70px;
    width: 70px;
}
#fla-logo {
    background: url(../images/about-imgs/fla-logo.png) no-repeat center center / cover;
    height: 70px;
    width: 70px;
}
.card-template {
    width: 18rem;
}
/********** Large Device Only **********/
@media (min-width: 1200px) {
    /* About */
    .h2-title {
        width: 700px;
    }
}

/********** Medium Device Only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    /* About */
    .h2-title {
        font-size: 24px;
    }
    .h2-title::after {
        width: 500px;
    }
    .information p {
        font-size: 16px;
    }
    .card-template {
        width: 14rem;
    }
    .card-body h5 {
        font-size: 18px;
    }
    .card-body p {
        font-size: 14px;
    }
}

/********** Small Device Only **********/
@media (min-width: 768px) and (max-width: 991px) {
    /* Start of Header */
    #logo {
        background: url(../images/arjoshtech-logo.png) no-repeat center center / cover;
        height: 60px;
        width: 60px;
    }
    
    #arjoshtech {
        color: #FFFFFF;
        font-size: 26px;
    }
    #home {
        background: url(../images/home-bg.png) no-repeat center center/cover;
        height: 100vh; /* Full viewport height */
        width: 100vw;  /* Full viewport width */
    }
    #home-photo {
        display: none;
    }
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    /* End of Header */

    /* Start of Home */
    #intro h2 {
        font-size: 40px;
    }

    #intro p {
        font-size: 16px;
    }
    /* End of Home */

    /* Start of About */
    #about-photo {
        background: url(../images/home-photo.png) no-repeat center center / cover;
        height: 300px;
        width: 300px;
    }
    .h2-title {
        font-size: 24px;
    }
    .h2-title::after {
        width: 500px;
    }
    .information p {
        font-size: 16px;
    }
    .card-template {
        width: 22rem;
    }
    .card-body h5 {
        font-size: 18px;
    }
    .card-body h6 {
        font-size: 16px;
    }
    .card-body p {
        font-size: 14px;
    }
}

/********** Extra Small Device Only **********/
@media (max-width: 767px) {
    /* Start of Header */
    .navbar-brand {
        display: flex;
        align-items: center;
    }
    #logo {
        background: url(../images/arjoshtech-logo.png) no-repeat center center / cover;
        height: 50px;
        width: 50px;
    }

    #arjoshtech {
        color: #FFFFFF;
        font-size: 20px;
    }
    #home {
        background: url(../images/home-bg.png) no-repeat center center/cover;
        height: 100vh; /* Full viewport height */
        width: 100vw;  /* Full viewport width */
    }
    #home-photo {
        display: none;
    }
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    /* End of Header */

    /* Start of Home */
    #intro h2 {
        font-size: 30px;
        text-align: center;
    }

    #intro p {
        font-size: 12px;
        text-align: center;
    }
    #intro button {
        margin: 10px 0 5px;
    }
    /* End of Home */

    /* Start of About */
    #about-photo {
        background: url(../images/home-photo.png) no-repeat center center / cover;
        height: 300px;
        width: 300px;
    }
    .h2-title {
        font-size: 16px;
    }
    .h2-title::after {
        width: 300px;
    }
    .information p {
        font-size: 12px;
    }
    .card-template {
        width: 18rem;
    }
    .card-body h5 {
        font-size: 16px;
    }
    .card-body h6 {
        font-size: 14px;
    }
    .card-body p {
        font-size: 12px;
    }
}
