* {
    font-family: "Exo 2", sans-serif;
}

/* Header */
      .nav-link {
        position: relative;
        display: inline-block;
      }

      .nav-link::after {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        bottom: -4px;
        left: 0;
        background-color: #21ffff;
        transition: width 0.25s ease-in-out;
      }

      .nav-link:hover::after {
        width: 100%;
      }

.mobile-menu {
    transition: max-height 0.75s ease-out;
}

meter::-webkit-meter-bar {
  background: none; 
  background-color: lightgray; 
}

meter::-webkit-meter-optimum-value {
  box-shadow: 0 5px 5px -5px #999 inset;
  background-image: linear-gradient(
    90deg, 
    #00ff99
  );
  background-size: 100% 100%;
}