* {
    font-family: "Exo", sans-serif;
}

/* Header */
      .nav-link {
        position: relative;
        display: inline-block;
      }

      .nav-link::after {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        bottom: -4px;
        left: 0;
        background-color: #21ffff;
        transition: width 0.25s ease-in-out;
      }

      .nav-link:hover::after {
        width: 100%;
      }

.mobile-menu {
    transition: max-height 0.75s ease-out;
}