* {
    font-family: "Exo 2", sans-serif;
}

/* Header */
      .nav-link {
        position: relative;
        display: inline-block;
      }

      .nav-link::after {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        bottom: -4px;
        left: 0;
        background-color: #21ffff;
        transition: width 0.25s ease-in-out;
      }

      .nav-link:hover::after {
        width: 100%;
      }

.mobile-menu {
    transition: max-height 0.75s ease-out;
}

/* Custom meter styling */
meter {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* For Chrome/Safari */
meter::-webkit-meter-bar {
  background: #1a1a2e;
  border-radius: 10px;
  border: 2px solid #00ff99;
}

meter::-webkit-meter-optimum-value {
  background: linear-gradient(90deg, #00ff99, #00ffff);
  border-radius: 8px;
}